.top-home {
    margin-top: 230px;
}

/* ============ TUMBLERS ============ */
.tumbler-on-992 {
    display: block;
}
.tumbler-off-992 {
    display: none;
}
.tumbler-off {
    display: none;
}
/* ============ /TUMBLERS ============ */


/* ============ MEDIA ============ */
/* --- max --- */
@media only screen and (max-width: 1440px) {
    .top-home {
        margin-top: 220px;
    }
}
@media only screen and (max-width: 1024px) {
    .top-home {
        margin-top: 200px;
    }
}
@media only screen and (max-width: 992px) {
    .tumbler-on-992 {
        display: none;
    }

    .tumbler-off-992 {
        display: block;
    }

    .image-style {
        height: 80vh;
    }

    .top-home {
        margin-top: 180px;
    }
}
@media only screen and (max-width: 768px) {
    .top-home {
        margin-top: 130px;
    }
}
/* ============ /MEDIA ============ */


/* ============ Image Style ============ */
/* --- image 50/50 --- */
.image-style {
    width: 100%;
    height: 110vh;
    object-fit: cover;
}
/* --- image inline --- */
.home-amen {
    max-width: 100%;
    height: auto;
}
/* ============ /Image Style ============ */


/* ============ Background image ============ */
.style-background {
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.home-background-image {
    background-image: url("/static/main/img/home.jpg");
}
.about-background-image {
    background-image: url("/static/main/img/555.jpg");
}
.amenities-background-image {
    background-image: url("/static/main/img/home.jpg");
}
.developers-background-image {
    background-image: url("/static/main/img/555.jpg");
}
.gallery-background-image {
    background-image: url("/static/main/img/555.jpg");
}
.listings-background-image {
    background-image: url("/static/main/img/555.jpg");
}
/* --- COLOR --- */
.my-back {
    background-color: rgba(54, 53, 53, 0.82);
}
.my-back-2 {
    background-color: rgba(255, 255, 255, 0.92);
}
.my-back-contact {
    background-color: #212123;
}
/* ============ /Background image ============ */


/* ============ BUTTONS ============ */
/* --- Brown HOME --- */
.but-brown-home {
    background-color: #4d3824;
    border: 3px solid #4d3824;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}
.but-brown-home:hover {
    background-color: rgb(124, 90, 58);
    border: 3px solid rgb(124, 90, 58);
    color: white !important;
    transition-duration: 0.5s;
}
.but-brown-home:active {
    background-color: #4d3824;
    border: 3px dotted #4d3824;
    color: #ffffff;
}
/* --- Brown Radius --- */
.but-brown-rad {
    background-color: #4d3824;
    border: 3px solid #4d3824;
    border-radius: 4px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}
.but-brown-rad:hover {
    background-color: #5e432b;
    border: 3px solid #5e432b;
    color: white;
!important;
    transition-duration: 0.5s;
}
.but-brown-rad:active {
    background-color: #5e432b;
    border: 3px dotted #5e432b;
    color: #ffffff;
}
/* --- Grey Radius --- */
.but-grey-home {
    background-color: #1b1c24;
    border: 3px solid #1b1c24;
    border-radius: 4px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}
.but-grey-home:hover {
    border: 3px solid #333641D9;
    background-color: rgba(48, 30, 119, 0.58);
    color: white;
!important;
    transition-duration: 0.5s;
}
.but-grey-home:active {
    background-color: #333641D9;
    border: 3px dotted #333641D9;
    color: #ffffff;
}
/* --- Brown But Contacts --- */
.but-border-contact {
    border: 1px solid #b8b897;
!important;
}
.but-border-contact:hover {
    border: 1px solid #5e432b;;
!important;
}
.but-border-contact:active {
    border: 1px solid #b8b897;
!important;
}
/* ============ /BUTTONS ============ */

