{% extends 'main/layout/layout.html' %}
{% load static %}

{% block title %}About{% endblock %}
{% block activ-about %}active{% endblock %}

{% block content %}
    <section class="style-background about-background-image">
        <section class="container-fluid mx-0 mb-0">
            <div class="row align-items-center my-back">
                <div class="col-lg-6">
                    <div class="container text-center" style="vertical-align: middle;">
                        <h2 class="display-4 text-uppercase mt-5 mb-3"><strong><b>about </b></strong><strong><b
                                style="color: #b8b897;"> us</b></strong></h2>
                        <hr class="mb-3" style="color: #b8b897; height: 1px; opacity: 1">
                        <p class="fs-4 about-text text-uppercase mb-3">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Asperiores deserunt distinctio doloribus illo ipsum, natus nisi sed
                            soluta sunt ut.</p>
                        <a href="{% url 'about' %}">
                            <button class="but-brown-rad text-uppercase mb-3">SHOW FLOORPLANS</button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 px-0">
                    <img class="image-style" src="{% static 'main/img/88.jpg' %}" alt="Bentley Residences">
                </div>
            </div>
        </section>


        <section class="container-fluid mx-0 mb-0">
            <div class="row align-items-center my-back">
                <div class="col-lg-6 px-0 tumbler-on-992">
                    <img class="image-style" src="{% static 'main/img/99.jpg' %}" alt="Bentley Residences">
                </div>
                <div class="col-lg-6">
                    <div class="container text-center">
                        <h2 class="display-4 text-uppercase mt-5 mb-3">Lorem ipsum dolor</h2>
                        <hr class="mb-3" style="color: #b8b897; height: 1px; opacity: 1">
                        <p class="fs-4 text-uppercase mb-3">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Atque autem cumque cupiditate dicta eos iste laudantium necessitatibus
                            sequi unde vitae.</p>
                    </div>
                </div>
                <div class="col-lg-6 px-0 tumbler-off-992">
                    <img class="image-style" src="{% static 'main/img/99.jpg' %}" alt="Bentley Residences">
                </div>
            </div>
        </section>

        <section class="container-fluid mx-0">
            <div class="row my-back">
                <div class="col-lg-5"></div>
                <div class="col-lg-6 container mx-3">
                    <hr class="mb-3 mt-5" style="color: #b8b897; height: 1px; opacity: 1">
                    <h3 class="display-6 text-uppercase mb-3">Lorem ipsum dolor sit amet.</h3>
                    <p class="fs-5 text-uppercase mb-3">Lorem ipsum dolor sit amet, consectetur elit. Dolorum eos ex
                        labore minima </p>
                    <p class="fs-5 text-uppercase mb-3">Lorem ipsum dolor sit amet, adipisicing elit. Dolorum eos ex
                        labore minima </p>
                    <p class="fs-5 text-uppercase mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Dolorum eos ex labore minima </p>
                    <p class="fs-5 text-uppercase mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Dolorum eos ex labore minima </p>
                    <p class="fs-5 text-uppercase mb-3">Lorem ipsum dolor sit amet, adipisicing elit. Dolorum eos ex
                        labore minima </p>
                    <p class="fs-5 text-uppercase mb-3">Lorem ipsum sit amet, consectetur adipisicing elit. Dolorum eos
                        ex labore minima </p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </section>

        <section class="container-fluid mx-0">
            <div class="row my-back">
                <div class="col-lg-1"></div>
                <div class="col-lg-6 container mx-3">
                    <hr class="mb-3 mt-5" style="color: #b8b897; height: 1px; opacity: 1">
                    <h3 class="display-6 text-uppercase mb-3">Lorem ipsum dolor sit amet.</h3>
                    <p class="fs-5 text-uppercase mb-3">Lorem ipsum dolor sit amet, consectetur elit. Dolorum eos ex
                        labore minima </p>
                    <p class="fs-5 text-uppercase mb-3">Lorem ipsum dolor sit amet, adipisicing elit. Dolorum eos ex
                        labore minima </p>
                    <p class="fs-5 text-uppercase mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Dolorum eos ex labore minima </p>
                    <p class="fs-5 text-uppercase mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Dolorum eos ex labore minima </p>
                    <p class="fs-5 text-uppercase mb-3">Lorem ipsum dolor sit amet, adipisicing elit. Dolorum eos ex
                        labore minima </p>
                    <p class="fs-5 text-uppercase  mb-5">Lorem ipsum sit amet, consectetur adipisicing elit. Dolorum eos
                        ex labore minima </p>
                </div>
                <div class="col-lg-5"></div>
            </div>
        </section>

        <section class="container-fluid mx-0 mb-0">
            <div class="row align-items-center my-back">
                <div class="col-lg-6">
                    <div class="container text-center" style="vertical-align: middle;">
                        <h2 class="display-4 text-uppercase mb-3"><strong><b>Residences</b></strong></h2>
                        <hr class="mb-3" style="color: #b8b897; height: 1px; opacity: 1">
                        <p class="fs-4 about-text text-uppercase mb-3">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Asperiores deserunt distinctio doloribus illo ipsum, natus nisi sed
                            soluta sunt ut.</p>
                        <a href="{% url 'about' %}">
                            <button class="but-brown-rad text-uppercase mb-3">SHOW FLOORPLANS</button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 px-0">
                    <img class="image-style" src="{% static 'main/img/88.jpg' %}" alt="Bentley Residences">
                </div>
            </div>
        </section>

    </section>
{% endblock %}