{% extends 'main/layout/layout.html' %}
{% load static %}

{% block title %}Developers{% endblock %}
{% block activ-developers %}active{% endblock %}

{% block content %}
    <section class="style-background developers-background-image">

        <section class="container-fluid px-0 my-back" style="padding-top: 100px;!important;">
            <div class="container  pb-0">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="display-4 text-uppercase"><strong><b>DEVELOPERS</b></strong></h2>
                        <hr style="color: #b8b897; height: 2px; opacity: 1">
                    </div>
                    <hr>
                </div>
            </div>
        </section>

        <section class="container-fluid my-back">
            <div class="row align-items-center">
                <div class="col-lg-4 text-center">
                    <img src="{% static 'main/img/developers/logo.png' %}" alt="">
                </div>
                <div class="col-lg-7">
                    <h3 class="display-6 text-uppercase">Chateau group</h3>
                    <p class="fs-4  text-uppercase mb-3 pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Alias blanditiis, dicta dolorem
                        doloribus eligendi enim eos, ex ipsam iusto modi odio, praesentium quibusdam rerum suscipit
                        voluptas voluptatem voluptatibus! Id, porro?
                    </p>
                    <p class="fs-4  text-uppercase mb-5 pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Alias blanditiis, dicta dolorem
                        doloribus eligendi enim eos, ex ipsam iusto modi odio, praesentium quibusdam rerum suscipit
                        voluptas voluptatem voluptatibus! Id, porro?
                    </p>
                </div>
            </div>
        </section>


        <section class="container-fluid my-back">
            <div class="row align-items-center">
                <div class="col-lg-4 text-center">
                    <img style="height: 14vh" src="{% static 'main/img/developers/logo2.png' %}" alt="">
                </div>
                <div class="col-lg-7">
                    <h3 class="display-6 text-uppercase">fortune international group</h3>
                    <p class="fs-4  text-uppercase mb-3 pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Alias blanditiis, dicta dolorem
                        doloribus eligendi enim eos, ex ipsam iusto modi odio, praesentium quibusdam rerum suscipit
                        voluptas voluptatem voluptatibus! Id, porro?
                    </p>
                    <p class="fs-4  text-uppercase mb-5 pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Alias blanditiis, dicta dolorem
                        doloribus eligendi enim eos, ex ipsam iusto modi odio, praesentium quibusdam rerum suscipit
                        voluptas voluptatem voluptatibus! Id, porro?
                    </p>
                </div>
            </div>
        </section>

        <section class="container-fluid">
            <div class="row my-back">
                <div class="col-lg-12 text-center container pb-3 pt-4 px-0 my-back-2">
                    <h3 class="display-7 text-uppercase" style="color: black">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Qui,
                        voluptates! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, deleniti?</h3>
                    <a href="{% url 'about' %}">
                        <button class="but-brown-rad text-uppercase mt-3">SHOW FLOORPLANS</button>
                    </a>
                </div>
            </div>
        </section>

        <section class="container-fluid my-back">
            <div class="row align-items-center">
                <div class="col-lg-4 text-center">
                    <img style="height: 23vh" src="{% static 'main/img/developers/logo3.png' %}" alt="">
                </div>
                <div class="col-lg-7">
                    <h3 class="display-6 text-uppercase mt-5">Lorem ipsum dolor sit amet</h3>
                    <p class="fs-4  text-uppercase mb-3 pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Alias blanditiis, dicta dolorem
                        doloribus eligendi enim eos, ex ipsam iusto modi odio, praesentium quibusdam rerum suscipit
                        voluptas voluptatem voluptatibus! Id, porro?
                    </p>
                    <p class="fs-4  text-uppercase mb-5 pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Alias blanditiis, dicta dolorem
                        doloribus eligendi enim eos, ex ipsam iusto modi odio, praesentium quibusdam rerum suscipit
                        voluptas voluptatem voluptatibus! Id, porro?
                    </p>
                </div>
            </div>
        </section>

        <section class="container-fluid my-back">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <img class="image-style" style="height: 40vh" src="{% static 'main/img/444.jpg' %}"
                         alt="Bentley Residences">
                    <p class="fs-5 text-uppercase mb-5 pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Accusamus facere magni minus non
                        pariatur tempore tenetur ullam, voluptates. Est, nesciunt.</p>
                </div>
                <div class="col-lg-4 text-center">
                    <img class="image-style" style="height: 40vh" src="{% static 'main/img/88.jpg' %}"
                         alt="Bentley Residences">
                    <p class="fs-5  text-uppercase mb-5 pt-2">Lorem ipssffum dolor sit amet, consectetur adipisicing
                        elit. Accusamus facere magni minus non
                        pariatur tempore tenetur ullam, voluptates. Est, nesciunt. Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Earum excepturi illo pariatur porro qui, ullam!</p>
                </div>
                <div class="col-lg-4 text-center">
                    <img class="image-style" style="height: 40vh" src="{% static 'main/img/99.jpg' %}"
                         alt="Bentley Residences">
                    <p class="fs-5  text-uppercase mb-5 pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Accusamus facere magni minus non
                        pariatur tempore tenetur ullam, voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Alias iusto quod temporibus!</p>
                </div>
            </div>
        </section>

    </section>

{% endblock %}