{% extends 'main/layout/layout.html' %}
{% load static %}

{% block title %}Gallery{% endblock %}
{% block activ-gallery %}active{% endblock %}

{% block content %}
    <section class="style-background gallery-background-image">

        <div class="page-content portfolio-block pb-0 my-back" style="padding-top: 100px;!important;" id="gallery">
            <div class="container">
                <h2 class="display-4 text-uppercase "><strong><b>Gallery</b></strong></h2>
                <hr class="mb-5" style="color: #b8b897; height: 2px; opacity: 1">
                <div class="row portfolio-container gallery-1">
                    {% for i in gal_img %}
                        <div class="col-md-4 mb-4">
                            <figure class="media media-image equal-md-1-1"
                                    data-bp='{"imgSrc": "{{ i.gallery_img.url }}" , "parentGalleryClass": "gallery-1" }'>
                                <span style="background-image: url('{{ i.gallery_img.url }}')"></span>
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

