{% extends 'main/layout/layout.html' %}
{% load static %}

{% block title %}Listings{% endblock %}
{% block activ-listings %}active{% endblock %}

{% block content %}
    <section class="style-background listings-background-image">

        <section class="container-fluid px-0 my-back" style="padding-top: 100px;!important;">
            <div class="container pb-0">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="display-4 text-uppercase"><strong><b>listings</b></strong></h2>
                        <hr style="color: #b8b897; height: 2px; opacity: 1">
                    </div>
                    <hr>
                </div>
            </div>
        </section>

    </section>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalSpecialApp" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Special opportunities</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <div class="card rounded-0">
                                <div class="card-body text-center">
                                    <p class="fw-bolder">Crypto currency</p>
                                    <a style="cursor:pointer;" data-bs-toggle="modal"
                                       data-bs-target="#exampleModal1" data-bs-dismiss="modal" aria-label="Close">learn
                                        more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <div class="card rounded-0">
                                <div class="card-body text-center">
                                    <p class="fw-bolder">Special prices</p>
                                    <a style="cursor:pointer;" data-bs-toggle="modal"
                                       data-bs-target="#exampleModal1" data-bs-dismiss="modal" aria-label="Close">learn
                                        more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <div class="card rounded-0" style="min-height: 150px;">
                                <div class="card-body text-center">
                                    <p class="fw-bolder">Personal offer</p>
                                    <a style="cursor:pointer;" data-bs-toggle="modal"
                                       data-bs-target="#exampleModal1" data-bs-dismiss="modal" aria-label="Close">learn
                                        more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <div class="card rounded-0" style="min-height: 150px;">
                                <div class="card-body text-center">
                                    <p class="fw-bolder">Rental available 6 month or 2 times a year</p>
                                    <a style="cursor:pointer;" data-bs-toggle="modal"
                                       data-bs-target="#exampleModal1" data-bs-dismiss="modal" aria-label="Close">learn
                                        more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card rounded-0">
                                <div class="card-body text-center">
                                    <p class="fw-bolder">Units are coming fully finished</p>
                                    <a style="cursor:pointer;" data-bs-toggle="modal"
                                       data-bs-target="#exampleModal1" data-bs-dismiss="modal" aria-label="Close">learn
                                        more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}