@font-face {
    font-family: "Regis-H";
url('Arial Greek.ttf') format('ttf'), font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Regis-logo";
url('ariblk.ttf') format('ttf'), font-style: normal;
    font-weight: bold;
}

h1, h2, h3, h4, h5, a, select, option, button {
    font-family: "Regis-H", sans-serif;!important;
    color: white;!important;
}

p, ul, li, input, .my-sel {
    font-family: "Regis-H", sans-serif;!important;
    color: #b8b897;!important;
}

.my-color {
    color: #b8b897;!important;
}

/* === ссылки и кнопки === */
.my-font {
    font-family: "Regis-H", sans-serif;!important;
    color: #b8b897;!important;
    text-decoration: none;
}

.my-font:hover {
    color: white;
}

.my-font:active {
    color: #b8b897;!important;
}